* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-height: 640px;
}

.body-container {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: column;
}


/* TOP LEVEL */
header {
  flex: 1 1 0;
  background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(214,214,214,0.5) 100%);
}

main {
  flex: 6 1 0;
  display: flex;
  overflow-y: scroll;
}

/**
 * CHATROOM DIALOGS
 */

.chatroom-dialogs-container {
  flex: 0 0 200px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f5f5f5;
  border-right: 1px solid #ADB7BA;
  overflow-x: scroll;
}

.fit-in-dialogs-container {
  padding: 10px 15px;
}

.dialogs-container-title {
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 5px;
  color: #707070;
}

.chatroom-dialog {
  cursor: pointer;
}

.chatroom-dialog-owner {
  display: flex;
  justify-content: space-between;
}

.chatroom-dialog-input {
  outline: 0;
  border: 0;
  background-color: #f5f5f5;
}

.chatroom-dialog-title {
  color: #3e3e3e;
  font-size: 1.1em;
}

.add-chatroom-dialog {
  color: #2472ad;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.add-chatroom-dialog > i {
  color: #2472ad;
}

.add-chatroom-dialog:hover, .chatroom-dialog:hover {
  background-color: #e9e9e9;
}

.dialog-icon {
  margin-right: 10px;
}

.destroy-dialog-icon {
  padding-top: 3px;
  color: #999999;
}

.fa-black-tie {
  padding-top: 4px;
}

.destroy-dialog-icon:hover {
  color: #333;
}

.round-button {
  background-color: white;
  color: #00BFFF;
  border: 2px solid #FFFFFF;
  display: block;
  border-radius: 100%;
  transition: border 1.5s, color 1.5s;
  transition-timing-function: ease-in-out;
}

.round-button:hover, .round-button.border {
  border: 2px solid #009DD1;
  color: #009DD1;
}

.round-button:focus {
  outline: 0;
}

/**
 * CHATROOM WINDOW CONATAINER
 */

.chat-container {
  flex:3 1 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.chat-title-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ADB7BA;
  background-color: white;
  padding: 0 15px;
  padding-bottom: 1px;
}

.chat-title {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

.chat-options-container {
  display: flex;
}

.option-add-user {
  width: 40px;
  height: 40px;
  background: url('/images/add_user.jpg') no-repeat;
  background-size: 60px;
  background-position: -12px -12px;
}

.chat-options-menu {
  position: absolute;
  right: 0;
  top: 53px;
}

.chat-options-info {
  text-align: center;
  margin: 0px 0 8px 0;
  text-transform: capitalize;
  font-weight: 600;
  color: white;
}

.error {
  text-align: center;
  color: #a94442;
  text-transform: uppercase;
}

.success {
  color: #3c763d;
  text-transform: capitalize;
}

/*.chat-options-menu > * {
  margin-top: 5px;
}*/

/**
 * CHATROOM WINDOW
 */

.chat-window-container {
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  min-width: 640px;
  max-width: 950px;
  font-size: 1.1em;
}

.chat-window {
  background-color: white;
  min-height: 400px;
  max-height: 400px;
  overflow-x: scroll;
}

.chat-message-line-container {
  background-color: #E8F9FF;
  padding: 0 1.5%;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 3px;
}

.chat-message-line-container:last-of-type {
  margin-bottom: 3px;
}

.not-sender {
  background-color: #F7F7F7;
}

.chat-message-line {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  color: #616161;
  font-weight: 300;
}

.avatar-container {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-top: 5px;
}

.no-avatar {
  padding-left: 40px;
}

.message-content-container {
  padding-left: 10px;
}

.message-title-container {
  margin-bottom: 2px;
}

.chat-message-title {
  font-weight: 600;
}

.chat-message-date {
  color: #BFBFBF;
}

.chat-message-date::before {
  content: " \B7  ";
}

.chat-message-content {
  margin-top: 5px;
}

.chat-message-input {
  width: 97%;
  resize: none;
  border: 0;
  border-top: 1px solid #adb7ba;
  padding-top: 2px;
  margin: 0 1.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

.chat-message-input:focus {
  outline-offset: 0;
  outline: 0;
}

.chat-message-recipient {
  justify-content: flex-start;
  flex-flow: column;
}

.chat-options-menu-container {
  padding: 9px 7px;
  border-radius: 7px;
}

.arrow_box {
	position: relative;
	background: #009DD1;
	border: 1px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 81%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(0, 157, 209, 0);
	border-bottom-color: #009DD1;
	border-width: 10px;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 11px;
	margin-left: -11px;
}

.chat-options-menu-input {
  margin-bottom: 6px;
}

.chat-options-menu-button {
  background-color: white;
  border: 1px solid #ccc;
  color: #009dd1;
  font-size: 13px;
  font-weight: 600;
}

.chat-options-menu-button:hover {
  background-color: #e6e6e6;
  color: #009dd1;
  border-color: #adadad;
}

.chat-options-menu-button:visited,  .chat-options-menu-button:focus{
  color: #009dd1;
}
